{% extends "mobile/base.html" %}
{% block title %}
分类讨论区
{% endblock %}
{% block body %}
<div data-role="page">
    <div data-role="header">
        <a href="{% url home %}" data-rel="back" data-icon="back" data-iconpos="notext">返回</a>
        <h2>分类讨论区</h2>
    </div>

    <div data-role="content">
        <div data-role="collapsible-set" data-theme="b" data-content-theme="c">
            {% for s in board_manager.section_list %}
            <div data-role="collapsible" data-collapsed="true">
                <h5>{{ s.text }}</h5>
                <ul data-role="listview">
                    {% for b in s.board_list %}
                    <li>
                        <a href="{% url board board=b.name %}" rel="external">
                            <div class="ui-grid-a">
                                <div class="ui-block-a">{{ b.text }}</div>
                                <div class="ui-block-b">{{ b.name }}</div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

