{% extends "mobile/base.html" %}

{% block title %}
{{ board }}
{% endblock %}

{% block body %}
<div data-role="page" id="boardPage">
    <script>
        r = {};

        function extendList(resp) {
            var page = resp;
            $('#headerTmpl').tmpl(page.headerList).appendTo($("#headerList"));
            $('time.timeago').timeago();
            if (page.prevStart) {
                r.prevStart = page.prevStart;
                $("#moreButton").html("更多");
            } else {
                $("moreButton").hide();
            }
            $("#headerList").listview("refresh");
            $.mobile.hidePageLoadingMsg();
        };

        function loadMore() {
            $.mobile.showPageLoadingMsg();
            $("#moreButton").html("载入中");
            var url = "/api/board/"+r.board;
            if (r.prevStart)
                url += "/"+r.prevStart;
            $.ajax({
                url: url,
                dataType: 'json',
                success: extendList,
                error: function showError(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        };

        $("#moreButton").live("click", loadMore);

        $("#boardPage").live("pageinit", function () {
            r.board = "{{ board }}";
            $("#headerList").html("");
            loadMore();
        });
    </script>

    <script id="headerTmpl" type="text/x-jquery-tmpl">
        <li class="ui-li ui-li-static ui-body-b">
            <a href="/topic/${board}/${pid}" class="ui-link-inherit" rel="external">
                <div>
                    <p class="header-title">${title}</p>
                    <span class="header-author">${author}</span>
                    <time class="timeago" datetime="${date}"></time>
                    <span class="header-count">${replyCount}/${viewCount}</span>
                </div>
            </a>
        </li>
    </script>

    <div data-role="header">
        <a href="{% url home %}" data-icon="home" data-iconpos="notext">返回</a>
        <h1>{{ board }}</h1>
        <a href="{% url compose board=board %}" data-theme="b" data-icon="add" class="ui-btn-right">发帖</a>
    </div>

    <div data-role="content">
        <ul data-role="listview" data-theme="b" id="headerList">
        </ul>
        <div class="pagination">
            <a id="moreButton" data-role="button" data-theme="e" href="#">更多</a>
        </div>
    </div>

</div>
{% endblock %}

