{% extends "mobile/base.html" %}
{% load section_text %}

{% block title %}
首页
{% endblock %}
{% block body %}
<div data-role="page">
    <div data-role="header">
        <h1>爪机小百合</h1>
    </div>

    <div data-role="content">

        <div class="home-item" data-role="collapsible" data-theme="b" data-content-theme="c">
            <h3>分类讨论区</h3>
            <ul data-role="listview" data-inset="true">
                {% for s in board_manager %}
                    <li>
                        <a href="{% url section sid=forloop.counter0 %}" rel="external">{{ s }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="home-item" data-role="collapsible" data-theme="b" data-content-theme="c">
            <h3>预订讨论区</h3>
            <ul data-role="listview" data-inset="true">
                {% if user.is_authenticated %}
                {% for name, text in favorites %}
                    <li>
                        <a href="{% url board board=name %}" rel="external">{{ text }} ({{ name}})</a>
                    </li>
                {% endfor %}
                {% else %}
                <li>
                    请先登录
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="home-item">
            <a href="{% url top10 %}" data-role="button" data-icon="star" data-theme="b">全站十大</a>
        </div>

        <div class="home-item">
            <a href="{% url hot %}" data-role="button" data-icon="info" data-theme="b">各区热点</a>
        </div>

        <div class="home-item">
            <a href="{% url about %}" data-role="button" data-theme="b">关于</a>
        </div>
    </div>

    <div data-role="footer" class="ui-bar" data-position="fixed">
        {% if user.is_authenticated %}
            <a href="{% url logout %}" data-role="button" data-icon="delete">注销{{user.username }}</a>
        {% else %}
            <a href="{% url login %}" data-rel="dialog" data-role="button" data-icon="plus">登录</a>
        {% endif %}
    </div>
</div>
{% endblock %}

