{% extends "mobile/base.html" %}
{% load section_text %}
{% block title %}
热门讨论区
{% endblock %}
{% block body %}
<div data-role="page">
    <div data-role="header">
        <a href="{% url home %}" data-rel="back" data-icon="back" data-iconpos="notext">返回</a>
        <h1>热门讨论区</h1>
    </div>

    <div data-role="content">
        <ul data-role="listview" data-theme="c" data-divider-theme="b">
            {% for s in page %}
            {% if s %}
                <li data-role="list-divider">{{ board_manager|section_text:forloop.counter0 }}</li>
                {% for h in s %}
                <li>
                    <a href="{% url topic board=h.board pid=h.pid %}" rel="external">
                        <div class="header">
                            <span class="header-title">{{ h.title }}</span>
                            <div class="header-info">
                                <span class="header-board">{{ h.board }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

