{% extends "mobile/base.html" %}
{% block title %}
首页
{% endblock %}
{% block body %}
<div data-role="page">
	<div data-role="header">
		<h1>爪机小百合</h1>
	</div>

	<div data-role="content">
		<div>
			<a href="{% url boardlist %}">分类讨论区</a>
		</div>
		<div>
			<a href="{% url top10 %}">全站十大</a>
		</div>
		<div>
			<a href="{% url hot %}">各区热点</a>
		</div>

		<div data-role="collapsible" data-theme="b" data-content-theme="c">
			<h3>预订讨论区</h3>
			<ul data-role="listview" data-inset="true">
				{% if user.is_authenticated %}
					{% for name, text in favorites %}
						<li>
							<a href="{% url board board=name %}" rel="external">{{ text }} ({{ name}})</a>
						</li>
					{% endfor %}
				{% else %}
					<li>
						请登录同步预订讨论区
					</li>
				{% endif %}
			</ul>
		</div>
		<div>
			<a href="#">关于</a>
		</div>
	</div>

	<div data-role="footer" class="ui-bar" data-position="fixed">
		{% if user.is_authenticated %}
			<a href="{% url logout %}" data-role="button" data-icon="delete">注销 {{user.username }}</a>
		{% else %}
			<a href="{% url login %}" data-role="button" data-icon="plus">登录</a>
		{% endif %}
	</div>
</div>
{% endblock %}
