{% extends "mobile/base.html" %}

{% block title %}
登陆
{% endblock %}

{% block body %}
<div data-role="page">
    <div data-role="header">
        <h1>登录</h1>
    </div>

    <div data-role="content">
        <form action="/login/" method="POST" data-ajax="false">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
            <div data-role="fieldcontain">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {{ field.help_text }}
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="submit" value="登录" data-inline="true" data-theme="b"/>
        </form>
    </div>

</div>
{% endblock %}

