{% extends "mobile/base.html" %}
{% block title %}
全站十大
{% endblock %}
{% block body %}
<div data-role="page" data-theme="c">
    <div data-role="header">
        <a href="{% url home %}" data-icon="back" data-iconpos="notext">返回</a>
        <h2>全站十大</h2>
    </div>

    <div data-role="content">
        <ul data-role="listview">
            {% for i in page.header_list %}
            <li data-icon="false" class="ul-li-static ui-body-b">
                <a href="{% url topic board=i.board pid=i.pid %}" rel="external">
                    <div>
                        <p class="header-title">{{ i.title }}</p>
                        <div class="header-info">
                            <span class="header-author">{{ i.author }}</span>
                            <span class="header-board">{{ i.board }}</span>
                        </div>
                        <span class="ui-li-count">{{ i.reply_count }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

