!.gitignore
*~
*.log
**/logs/*

.*.sw[a-z]
Session.vim

# python
*.py[cod]
*.egg
*.egg-info/
dist/
build/
pip-log.txt
.pydevproject
.ropeproject/
_build/

django-lilybbs/static/

archive/
scripts/
venv/

