.meta,.post-meta, header-meta {
  display: none;
}

.pagination {
  text-align: center;
}

.header-title {
  font-family: 黑体, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0.2em 0;
}

.header-author {
  color: blue;
}

.header-board {
  color: dimgrey;
  float: right;
}

.header-count {
  color: dimgrey;
  float: right;
}

.post-author {
  color: blue;
  font-size: 16px;
}

.post-body {
  font-family: 楷体, "Times New Roman", Georgia, serif;
  font-size: 14px;
  margin: 0.5em 0 0.5em;
}

.topic-title {
  font-family: 黑体, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 15px;
}

